/*-------------------------------------------------------Colors----------------------*/
.bg-color {
    background-color: #211C36;
}

h1, h2, h3, h4 {
    color: #fff8e1;
}

.card-panel, .card {
    background-color: #b3efa3;
    color: #332a52;
}

.fas {
    color: #fff8e1;
}

.nav-extended {
    background-color: #26a69a;
}

.sidenav {
    background-color: #b3efa3;
}

.sidenav-h {
    color: #332a52;
}

.sidenav li>a {
    color: #9581e8;
}

.dropdown-content {
    background-color: #fff8e1;
}

/*----------------------------------------------------Essentialoils.html------------*/
.collapsible {
    border: 1px solid #332a52;
}

.collapsible-header {
    background-color: #9581e8;
    color: #332a52;
    border: 1px solid #332a52;
}

.collapsible-body {
    background-color: #b3efa3;
    color: #332a52;
    border: 1px solid #332a52;
}

.switch label {
    color: #737373;
}

.search-field .search-btns {
    justify-content: center;
}
.search-panel {
    margin-bottom: 40px;
}

/*----------------------------------------------------Multiple pages----------------*/
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.text-shadow2 {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.15);
}

.fas {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.flashes h4 {
    line-height:2;
    color:#26a69a;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height:42px;
}

/*---------------------------------------------------Categories-------*/

.cat-btn {
    margin-top: 5px;
}

/*---------------------------------------------------Error Pages------*/

a.error-home {
    color: #c57919;
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase; 
    font-size: large;
}

.divider {
 background-color: #7eaf71;
}

a.error-home :hover {
    color: #665b98;
}

.error-text {
    color: #5b499a;
}

.error-card {
    padding-bottom: 15px;
}