{% extends 'base.html' %}
{% block content %}

    <div class="card error-card center">
        <div class="card-content">
            <h3 class="error-text text-shadow">Error 404</h3>
            <div class="divider"></div>
            <div>
                <h5 class="error-text">
                    How embarrasing, this is Error 404 oil and definitely not what you were looking for!
                </h5>
                <h5 class="error-text">
                    We'll take care of this, but in the meantime, please click below to get back to the main
                    page.
                </h5>
            </div>
            <div class="divider"></div>
        </div>
        <div class="error-home">
            <a class="error-home" href="{{url_for('get_essentialoils') }}">Essential Oil Database</a>
        </div>
        <div class="divider"></div>
    </div>

{% endblock %}