{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Oils</h3>

    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_oil') }}">
            <!--Category Selection----------------------------------------------------------------->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix"></i>
                    <select id="category_name" name="category_name" class="validate hide" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Oil Category</label>
                </div>
            </div>
            <!--Type Solo or combo----------------------------------------------------------------->
            <div class="row">
                <div class="input-field col 12">
                    <p>
                        <label>
                            <input class="with-gap" value="Single Oil" name="type" type="radio" checked />
                            <span>Single oil</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" value="Combination" name="type" type="radio" />
                            <span>Combination</span>
                        </label>
                    </p>
                </div>
            </div>
            <!--Oil Name--------------------------------------------------------------------------->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="oil_name" name="oil_name" minlength="3" maxlength="50" type="text" class="validate"
                        required>
                    <label for="oil_name">Oil Name</label>
                </div>
            </div>
            <!--Oil Description-------------------------------------------------------------------->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="oil_description" name="oil_description" minlength="5" maxlength="500"
                        class="materialize-textarea validate" required></textarea>
                    <label for="oil_description">Oil Description</label>
                </div>
            </div>
            <!-- Source included toggle switch ---------------------------------------------------->
            <div class="row">
                <div class="input-field col 12">
                    <div class="switch">
                        <i class="fas fa-check"></i>
                        <label for="source_inc">
                            <input type="checkbox" id="source_inc" name="source_inc">
                            <span class="lever"></span>
                            Source Included
                        </label>
                    </div>
                </div>
            </div>
            <!--Submit button----------------------------------------------------------------------->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large text-shadow">
                        Add Oil <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}