{% extends "base.html" %}
{% block content %}



    {% for oil in essentialoils %}
        {{ oil.oil_name }}<br>
        {{ oil.category_name }}<br>
        {{ oil.oil_description }}<br>
        {{ oil.source_inc }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header white-text teal darken-2 text-shadow"><i class="fas fa-caret-down"></i>First</div>                <!--fix colours and  that of accordian in the class of the div-->
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text teal darken-2 text-shadow"><i class="fas fa-caret-down"></i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text teal darken-2 text-shadow"><i class="fas fa-caret-down"></i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
  </ul>

{% endblock %}    